/*body {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-family: '微软雅黑';*/
/*    color: #75433a;*/
/*}*/

.el-header {
    text-align: center;
}

#cert {
    margin: 0 auto;
    font-family: '微软雅黑';
    color: #75433a;
    position: relative;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 516px;
    height: 730px;
}

#form {
    padding: 56px 100px 0;
}

#bg {
    width: 100%;
}

#main {
    position: absolute;
    height: 590px;
    width: 354px;
    margin-top: 72px;
}

#cert span {
    font-size: 12px;
    color: #070100;
}

#logo, #title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 130px;
}

#logo img {
    height: 100px;
}

#title {
    margin-top: 4px;
    height: 68px;
}

#title img {
    height: 68px;
}

#content {
    margin-top: 42px;
    height: 158px;
    line-height: 30px;
    text-indent: 2em;
    font-size: 15px;
}

#content span {
    border-bottom: 1px solid #75433a;
}

#date, #remark {
    padding: 0 15px;
    font-size: 12px;
}

#date {
    height: 38px;
    font-size: 15px;
}

#remark {
    display: flex;
    margin-top: 18px;
    height: 30px;
    font-size: 11px;
    line-height: 18px;
}

#remark .left {
    width: 70px;
}

#company {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    font-size: 12px;
    margin-right: 5px;
}
